.__gridMenuWrapper {
  width: 100%;
  padding: 20px;
}

.__gridMenuCategory h1 {
  font-weight: 500;
}

.__gridMenuCategoryBody {
  display: flex;
  align-items: center;
}

.__gridMenuCategoryItem {
  margin-top: 30px;
  text-align: center;
  margin-right: 20px;
  cursor: pointer;
}

.__gridMenuCategoryImageWrapper {
  width: 80px;
  height: 80px;
  overflow: hidden;
  text-align: center;
  border-radius: 50%;
  border-style: solid;
  border-color: #04acab;
}

.__gridMenuCategoryImageWrapper img {
  width: 100%;
  height: auto;
}

.__gridMenu_body {
  margin-top: 30px;
}

.__gridMenuHeader {
  display: flex;
  justify-content: space-between;
}

.__gridMenuItem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 220px;
  height: 280px;
  text-align: center;
  margin-top: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.__gridMenuImage {
  display: inline-block;
  margin: 0 auto;
  background-color: white;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.__gridMenuImage img {
  max-width: 100%;
  max-height: 100%;
}

.__gridMenuItemDetails {
  margin: 10px auto;
  font-size: 12px;
  font-weight: 500;
  color: #898989;
  max-width: 180px;
}

.__cartButton {
  background-color: #04acab;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  color: white;
  cursor: pointer;
  transition: filter 500ms;
}

.__cartButton:hover {
  filter: brightness(1.1);
}

.__categoryItemWrapper {
  margin-top: 20px;
  width: 100%;
}

.__categoryItemWrapper ul {
  display: flex;
  justify-content: space-evenly;
}

.__categoryItemWrapper ul li {
  list-style: none;
  color: #898989;
}

.__categoryItemWrapper ul li.active {
  background-color: #04acab;
  text-align: center;
  padding: 8px;
  color: white;
  border-radius: 20px;
}

.__loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}
