.__sideMenu {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: white;
  padding: 10px 15px 0 15px;
  overflow-x: hidden;
}

.__sideMenu hr {
  /* margin-top: 60px; */
  border: none;
  height: 1px;
  /* Set the hr color */
  color: rgb(161, 161, 161); /* old IE */
  background-color: rgb(216, 216, 216); /* Modern Browsers */
}

.__sideMenu header h2 {
  font-weight: 500;
}

.__sideMenu_body {
  margin-top: 25px;
}

.__sideMenuBodyItemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.__sideMenuBodyItemWrapper p.__sideMenuBodyItemQty {
  font-size: 12px;
  font-weight: 500;
  color: #969495;
}

.__sideMenuBodyItemWrapper p.__sideMenuBodyItemTotal {
  font-size: 13px;
  color: #838383;
}

.__sideMenuBodyItemName h3 {
  font-size: 13px;
  font-weight: 500;
}

.__sideMenuBodyItemName p {
  font-size: 10px;
  font-weight: 600;
  color: #969495;
}

.__sideMenuBodyItemImage {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.63);
  -webkit-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.63);
}

.__sideMenuBodyItemImage img {
  width: 100%;
  height: auto;
}

.__totalWrapper {
  margin-top: 20px;
}

.__sideMenu_body_total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.__sideMenuBodySubTotal {
  font-weight: 600;
  font-size: 12px;
  color: #838383;
}

.__sideMenuBodyTotal {
  font-weight: 600;
  font-size: 13px;
}

.__sideMenuBodypajak {
  font-weight: 600;
  font-size: 12px;
  color: #838383;
}

.__sideMenu_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  width: 250px;
  height: 50px;
  background-color: #04acab;
  color: white;
  border-radius: 40px;
  cursor: pointer;
  transition: filter 300ms;
}

.__sideMenu_button p {
  font-weight: 500;
}

.__sideMenu_button p span {
  color: #dbdbdb;
}

.__sideMenu_button:hover {
  filter: brightness(1.1);
}
